<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MLops Project</title>
</head>
<body>

 <h1>This is my home</h1>

 <form action="{% url 'result' %}"

    {% csrf_token %}
   
    <label for="RI">RI:</label>
    <input type="text" id="RI" name="RI"><br><br>

    <label for="Na">Na:</label>
    <input type="text" id="Na" name="Na"><br><br>

    <label for="Mg">Mg:</label>
    <input type="text" id="Mg" name="Mg"><br><br>

    <label for="Al">Al:</label>
    <input type="text" id="Al" name="Al"><br><br>

    <label for="Si">Si:</label>
    <input type="text" id="Si" name="Si"><br><br>

    <label for="K">K:</label>
    <input type="text" id="K" name="K"><br><br>

    <label for="Ca">Ca:</label>
    <input type="text" id="Ca" name="Ca"><br><br>

    <label for="Ba">Ba:</label>
    <input type="text" id="Ba" name="Ba"><br><br>

    <label for="Fe">Fe:</label>
    <input type="text" id="Fe" name="Fe"><br><br>

    <input type="submit" value="Submit">
  </form>

    
</body>
</html>